version: '3.7'
services:
  elasticsearch:
    image: elasticsearch:7.17.1
    container_name: elasticsearch
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - cluster.initial_master_nodes=es01
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - './elasticsearch_data:/usr/share/elasticsearch/data'
      - './elasticsearch_config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml'
    ports:
      - 9200:9200
    restart: always
    networks:
      - elastic
  logstash:
    image: logstash:7.17.1
    container_name: logstash
    volumes:
      - './logstash_config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf'
      - './logstash_config/logstash.yml:/usr/share/logstash/config/logstash.yml'
    ports:
      - 5044:5044
      - 9600:9600
    restart: always
    networks:
      - elastic
    depends_on:
      - elasticsearch
  kibana:
    image: kibana:7.17.1
    container_name: kibana
    volumes:
      - './kibana_config:/usr/share/kibana/config'
      - './kibana_data:/usr/share/kibana/data'
    ports:
      - 5601:5601
    restart: always
    networks:
      - elastic
    depends_on:
      - elasticsearch

networks:
  elastic:
    ipam:
      driver: default
      config:
      - subnet: "172.21.19.0/24"